<template name="post">
	{{> headerForPost }}
	<div id="post">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h1 class="title">{{ title }}</h1>
					<a class="back-to-blog" href="{{ pathFor 'site' }}#blog">Back to Blog</a>
					<p class="date">{{ getDate createdAt }}</p>
					<img src="{{ image.url }}">
					<div class="content">
						{{{ text }}}
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
	<style type="text/css">
	body,
	#post {
		background-color: {{ dict 'blogBackgroundColor' }};
	}
	</style>
</template>
