<template name="blog">
	<section id="blog">
		<div class="container">
			<h1>Blog</h1>
			<div class="row">
				<div class="col-sm-12">
					{{# each blog }}
						{{> blogRow }}
					{{/ each}}

					{{# if moreThanLimit }}
						<div class="pager">
							<a class="left {{ canGoLeft }}" href="#">PREVIOUS</a>
							<span class="divider"></span>
							<a class="right {{ canGoRight }}" href="#">NEXT</a>
						</div>
					{{/ if }}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="blogRow">
	<div class="row">
		{{#each row }}
			{{> blogItem}}
		{{/each}}
	</div>
</template>

<template name="blogItem">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="item">
					<h2 class="title">{{ title }}</h2>
					<p class="date">{{ getDate createdAt }}</p>
					<a href="{{ pathFor 'post' }}">
						<img src="{{ image.url }}">
					</a>
					<p class="preview">
						{{ preview }}... 
						<a href="{{ pathFor 'post' }}">read more</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
