<template name="contact">
	<section id="contact">
		<div class="container">
			<h1>Contact</h1>
			<p class="adress">{{ dict 'contactAdress' }}</p>
			<div class="tinyline"></div>
			<p class="phone">{{ dict 'contactPhone' }}</p>
			<p class="email"><a href="mailto:{{ dict 'contactEmail' }}">{{ dict 'contactEmail' }}</a></p>
			<div class="tinyline"></div>
			<p class="image-institute"><img src="{{ dict 'contactImage.link' }}"></p>
			<p class="rights">{{ dict 'contactRights' }}</p>
			<p class="registered">{{ dict 'contactRegistered' }}</p>
		</div>
	</section>
</template>