<template name="header">
	<div class="header">
		<ul class="social"> 
			<li class="facebook">
				<a href="{{ dict 'socialFacebook' }}" target="_blank">
					<img src="{{ dict 'socialFacebookImage.link' }}">
				</a>
			</li>
			<li class="houzz">
				<a href="{{ dict 'socialHouzz' }}" target="_blank">
					<img src="{{ dict 'socialHouzzImage.link' }}">
				</a>
			</li>
			<li class="pinterest">
				<a href="{{ dict 'socialPinterest' }}" target="_blank">
					<img src="{{ dict 'socialPinterestImage.link' }}">
				</a>
			</li>
		</ul>
		<ul class="nav">
			<li class="home">
				<a href="#home">Home</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
			<li>
				<a href="#projects">Projects</a>
			</li>
			<li>
				<a href="#services">Services</a>
			</li>
			<li>
				<a href="#blog">Blog</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</div>
</template>