<template name="home">
	<section id="home">
		<div class="header-margin"></div>
		<div class="content">
			<div class="container">
				<div class="logo">
					<img src="{{ dict 'homeLogo.url' }}">
				</div>
			</div>
			{{> header }}
			<br><br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								{{# each homeImages }}
									<div class="item {{# if isCero index }}active{{/ if }}">
										<img class="home-image" src="{{ url }}">
									</div>
								{{/ each }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						{{{ dict 'homeText' }}}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>