<template name="site">
	<div class="layout">
		{{> fullScreenGallery }}
		{{> header }}
		{{> home }}
		{{> about }}
		{{> projects }}
		{{> services }}
		{{> blog }}
		{{> contact }}
		{{> footer }}
	</div>

	<style type="text/css">
	.header {
		background-color: {{ dict 'headerBackgroundColor' }};
	}
	#home {
		background-color: {{ dict 'homeBackgroundColor' }};
	}
	#about {
		background-color: {{ dict 'aboutBackgroundColor' }};
	}
	#projects {
		background-color: {{ dict 'projectsBackgroundColor' }};
	}
	#services {
		background-color: {{ dict 'servicesBackgroundColor' }};
	}
	#blog {
		background-color: {{ dict 'blogBackgroundColor' }};
	}
	#contact {
		background-color: {{ dict 'contactBackgroundColor' }};
	}
	</style>
</template>