<template name="about">
	<section id="about">
		<div class="container">
			<h1>About</h1>
			<div class="row">
				<div class="col-sm-5">
					<img src="{{ dict 'aboutImage.url' }}">
				</div>
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-12">
							<div class="content">
								{{{ dict 'aboutText' }}}
							</div>

							<div class="clearfix secondary-images">
								<img data-index="1" src="{{ dict 'aboutImage1.url' 'http://lorempixel.com/200/260' }}">
								<img data-index="2" src="{{ dict 'aboutImage2.url' 'http://lorempixel.com/200/260' }}">
								<img data-index="3" src="{{ dict 'aboutImage3.url' 'http://lorempixel.com/200/260' }}">
								<img data-index="4" src="{{ dict 'aboutImage4.url' 'http://lorempixel.com/200/260' }}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>